.imagePreview{
   
    height: 200px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

.card_content{
    transition: transform .7s
}
.card_content:hover {
    transform: scale(1.2); 
  }